.body{
	width: 1200px;
}
.container{
	position: center;
	padding-left: 130px;
	padding-right: 130px;
}
.top-header{
	width: 1200px;
	background-color:#293449;
	text-align: left;

	
}
.top-header *{
	display: inline-block;
}
a{
		color: white;
}
.top-header .bookmarks{
	margin-left: 190px;
	/*при дальнейшем оформлении появятся новые маргины и паддинги*/
}


.sub-header{
	width: 1200px;
	
}
.sub-header *{
	display:inline-block;
	outline: 1px solid red;
}
.description{
	margin-left: 0;
	text-align: left;
	width: 196px;
	height: 60px;
	margin-top: 0px;
}
.number{
	display:block;
}
.user-block a{
	color:black;
}





.main-navigation{
	background-color: #293449;
	width: 940px;
}
.main-navigation li{
	margin-left:50px;
}
.main-navigation li:first-child{
	margin-left:30px;
}