main{
	padding-left:130px; 
	padding-right:130px; 
}
.first-everything * {
	display: inline-block;
}

.everything-item{
	border:1px solid green;
	width: 300px;
	height: 123px;
	margin-right:16px;
	margin-bottom: 20px;
}
.main-list{
	width: 620px;
	height: 266px;
	border:1px solid black;
	margin-right:16px;
	margin-top:-111px;
}
.second-everything{
	display: inline-block;
}