/* ТЕХНОМАРТ */
body {
	background: #fff;
	width: 1200px;
}
.everything-item{
	border: 1px solid black;
	width: 300px;
	height: 123px;
	margin: 20px;
	   background-color: #2ecc71;
    background-image: url("/img/Layer 92.png");

	
}
.main-list{
	border: 1px solid black;
height:  266px;
width:  620px;
	
	
	
}
/*
div .everything-item:first-child{
	background-image: url("/img/Layer 92.png");
	background: #f6b22d;
	background-position: center;
	
}
*/

		
	

.just-to-try{
	margin: 0 auto;
width: 300px;
height: 300px;
display: block;
background: red url(../img/delivery-small.png) no-repeat;
	
}